<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/ajaxphp/ktv/Public/css/bootstrap.css">
    <script src="/ajaxphp/ktv/Public/js/jquery.js"></script>
    <!--<script src="/ajaxphp/ktv/Public/js/bootstrap.js"></script>-->
    <title>KTV后台管理系统</title>
    <style>
        .tips{
            position: fixed;
            top: 0;
            left: 0;
            width: 0;
            height: 2px;
            background: #FF6666;
            z-index: 1;
        }
    </style>
    <script>
        $(function () {
            let tips=$('.tips');
            $(window).ajaxStart(function () {
                tips.animate({width:'80%'});
            });
            $(window).ajaxComplete(function () {
                tips.stop().animate({width:'100%'}).queue(function () {
                    $(this).css('width',0);
                })
            });
            $('.dropdown').on('click',function () {
                $('.dropdown-menu',this).slideToggle();
/*                $(this).children('.dropdown-menu').slideToggle();
                $(this).find('.dropdown-menu').slideToggle();
                获取dropdown-menu的几种方法
                */
            })
        })
    </script>
</head>
<body>
<div class="tips"></div>
<nav class="navbar navbar-default">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <a class="navbar-brand" href="#">KTV后台管理系统</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li class="<?php echo $title=='游戏管理'?'active':'';?>">
                    <a href="/ajaxphp/ktv/index.php/gamemanager/index">游戏管理</a>
                </li>
                <li class="<?php echo $title=='商店管理'?'active':'';?>">
                    <a href="/ajaxphp/ktv/index.php/shopmanager/index">商店管理</a>
                </li>
                <li class="dropdown <?php echo $title=='歌曲管理'?'active':'';?>">
                    <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">综合管理
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li class="<?php echo $title=='分类管理'?'active':'';?>">
                            <a href="/ajaxphp/ktv/index.php/singertypemanager/index">分类管理</a>
                        </li>
                        <li class="<?php echo $title=='歌手管理'?'active':'';?>">
                            <a href="/ajaxphp/ktv/index.php/singermanager/index">歌手管理</a>
                        </li>
                        <li class="<?php echo $title=='歌曲管理'?'active':'';?>">
                            <a href="/ajaxphp/ktv/index.php/songsmanager/index">歌曲管理</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>
