<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="/ajaxphp/ktv/Public/js/jquery.js"></script>
    <script src="/ajaxphp/ktv/Public/js/iscroll.js"></script>
    <script src="/ajaxphp/ktv/Public/js/rem.js"></script>
    <script src="/ajaxphp/ktv/Public/js/me.js"></script>
    <link rel="stylesheet" href="/ajaxphp/ktv/Public/css/me.css">
    <title>我的</title>
</head>
<body>
<header>
    <a href="javascript:history.back();"></a>
    <div>
        <img src="/ajaxphp/ktv/Public/img/ok.png">
        <span>Jackie New</span>
    </div>
    <a></a>
</header>
<div class="main">
    <ul class="list-contant">
        <li>
            <a href="/ajaxphp/ktv/index.php/shop/shopSure">
                <img src="/ajaxphp/ktv/Public/img/sd4.png" alt="">
                <span>已购商品</span>
            </a>
        </li>
        <li>
            <a href="/ajaxphp/ktv/index.php/sing/songsalready">
                <img src="/ajaxphp/ktv/Public/img/gc3.png" alt="">
                <span>已点歌曲</span>
            </a>
        </li>
    </ul>
</div>
</body>
</html>