<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Order</title>
    <script src="/ajaxphp/ktv/Public/js/jquery.js"></script>
    <script src="/ajaxphp/ktv/Public/js/rem.js"></script>
    <script src="/ajaxphp/ktv/Public/js/iscroll.js"></script>
    <script src="/ajaxphp/ktv/Public/js/order.js"></script>
    <link rel="stylesheet" href="/ajaxphp/ktv/Public/css/order.css">
</head>
<body>
    <header>
        <a href="javascript:history.back()"></a>
        <p>0428房间已选商品
            <span>共0件</span>
        </p>
        <a href=""></a>
    </header>
    <div class="wrapper">
        <ul class="main">
        </ul>
    </div>

    <div class="footer">
        <div class="price">
            <img src="/ajaxphp/ktv/Public/img/total.png" alt="">
            <b class="totalPrice">9999</b>
        </div>
        <button class="shopSure">确认提交</button>
    </div>

</body>
</html>