<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>详情页</title>
    <script src="/ajaxphp/ktv/Public/js/jquery.js"></script>
    <script src="/ajaxphp/ktv/Public/js/rem.js"></script>
    <script src="/ajaxphp/ktv/Public/js/iscroll.js"></script>
    <script src="/ajaxphp/ktv/Public/js/play.js"></script>
    <link rel="stylesheet" href="/ajaxphp/ktv/Public/css/play.css">
</head>

<body>
    <header>
        <div class="top">
            <a href="javascript:history.back();"></a>
            <p></p>
            <a></a>
        </div>
        <div class="main">
            <ul class="lrc">

            </ul>
        </div>
    </header>
    <div class="footer">
        <ul class="btnlist">
            <li class="model" value="0"></li>
            <li class="prev"></li>
            <li class="play"></li>
            <li class="next"></li>
            <li class="replay"></li>
        </ul>
        <ul class="controller">
            <li>
                <i></i>
                <div class="volume">
                    <span></span>
                </div>
                <b>100</b>
            </li>
            <li>
                <i>00:00</i>
                <div class="jindu">
                    <span></span>
                </div>
                <b>00:00</b>
            </li>
        </ul>
    </div>
    <audio id="audio" src=""></audio>
</body>
</html>