<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>shop</title>
    <script src="/ajaxphp/ktv/Public/js/jquery.js"></script>
    <script src="/ajaxphp/ktv/Public/js/rem.js"></script>
    <script src="/ajaxphp/ktv/Public/js/iscroll.js"></script>
    <script src="/ajaxphp/ktv/Public/js/shop.js"></script>
    <link rel="stylesheet" href="/ajaxphp/ktv/Public/css/shop.css">
</head>
<body>
    <header>
        <a href="javascript:history.back()"></a>
        <ul>
            <li type="1" id="wine" class="active">酒水<span class="wineNum"></span></li>
            <li type="2" id="snack">零食<span class="snackNum"></span></li>
            <span class="flag"></span>
        </ul>
        <a></a>
    </header>


    <div class="wrapper winelist active">
        <ul class="main">
        </ul>
    </div>
    <div class="wrapper snacklist">
        <ul class="main">
        </ul>
    </div>

    <div class="footer">
        <ul class="tips">
            <li>已选</li>
            <div class="choose">
            </div>
            <li class="more">···</li>
        </ul>
        <div class="money">
            <span><i class="totalPrice">合计:0.00</i>RMB</span>
            <button>选好了</button>
        </div>
    </div>
</body>
</html>