<?php include 'adminheader.html';?>
<script src="/ajaxphp/ktv/Public/js/shopmanager.js"></script>
<style>
    input,textarea{
        border: none;
        background: none;
        outline: none;
        text-align: center;
    }
    textarea{
        resize: none;
    }
    td>img{
        display: block;
        max-width: 130px;
        max-height: 50px;
        margin: 0 auto;
    }
    table input{
        width: 130px;
    }
</style>
<div class="container">

    <!-- Nav tabs -->
    <ul class="nav nav-tabs" role="tablist" id="myTab">
        <li role="presentation" class="active">
            <a href="#add" id="add" aria-controls="home" role="tab" data-toggle="tab">添加</a>
        </li>
        <li role="presentation">
            <a href="#list" id="list" aria-controls="profile" role="tab" data-toggle="tab">查看</a>
        </li>
    </ul>

    <!-- Tab panes -->
    <div class="tab-content">
        <div role="tabpanel" class="tab-pane active" id="add-tab">
            <form action="javascript:;"><!--阻止点击按钮提交，因为要用ajax-->
                <div class="form-group">
                    <label for="sname">商品名称</label>
                    <input type="text" class="form-control" id="sname" name="sname" placeholder="请输入商品名">
                </div>
                <div class="form-group">
                    <label for="description">商品描述</label>
                    <input type="text" class="form-control" id="description" name="description" placeholder="请输入商品描述">
                </div>
                <div class="form-group">
                    <label for="price">商品价格</label>
                    <input type="text" class="form-control" id="price" name="price" placeholder="商品价格(RMB)">
                </div>
                <div class="form-group">
                    <label for="ssize">商品规格</label>
                    <input type="text" class="form-control" id="ssize" name="ssize" placeholder="商品规格请添加单位，如：300ml">
                </div>
                <div class="form-group">
                    <label for="hot">商品热度</label>
                    <input type="number" class="form-control" id="hot" name="hot" min="0" max="5" placeholder="商品热度:0 - 5">
                </div>
                <div class="form-group">
                    <label>商品类型</label>
                    <input type="radio" name="stype" value="1">酒水
                    <input type="radio" name="stype" value="2">零食
                </div>

                <div class="form-group">
                    <label for="img">商品配图</label>
                    <input type="file" id="img"><!--multiple设置允许多文件上传-->
                </div>
                <div class="imgBox" style="width: 100%;max-height: 100px">
                    <style>
                        .imgBox>img{
                            display: block;
                            float: left;
                            max-height: 100px;
                            width: auto;
                        }
                    </style>
                    <img src="" class="img-thumbnail" id="thumb" alt="">
                </div>

                <div class="form-group">
                    <input type="hidden" name="img"><!--利用隐藏的input保存上传的图片文件-->
                </div>
                <div class="progress">
                    <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 0%;">
                    </div>
                </div>

             <!--   <div class="progress">
                    <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 0%;">
                    </div>
                </div>
                <div class="progress">
                    <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 0%;">
                    </div>
                </div>-->

                <button type="submit" class="btn btn-primary">添加</button>
            </form>
        </div>
        <div role="tabpanel" class="tab-pane" id="list-tab">
            <table class="table table-bordered" style="text-align: center">
                <thead>
                <tr>
                    <th style="text-align: center">商品ID</th>
                    <th style="text-align: center">商品名称</th>
                    <th style="text-align: center">商品描述</th>
                    <th style="text-align: center">商品价格</th>
                    <th style="text-align: center">商品类型</th>
                    <th style="text-align: center">商品规格</th>
                    <th style="text-align: center">商品热度</th>
                    <th style="text-align: center">商品配图</th>
                    <th style="text-align: center">操作</th>
                </tr>
                </thead>
                <tbody>

                </tbody>
            </table>
        </div>
    </div>

</div>
</div>
</body>
</html>