<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>歌手列表</title>
    <script src="/ajaxphp/ktv/Public/js/jquery.js"></script>
    <script src="/ajaxphp/ktv/Public/js/rem.js"></script>
    <script src="/ajaxphp/ktv/Public/js/iscroll.js"></script>
    <script src="/ajaxphp/ktv/Public/js/singerlist.js"></script>
    <link rel="stylesheet" href="/ajaxphp/ktv/Public/css/singerlist.css">
</head>
<body>
<header>
    <a href="javascript:history.back();"></a>
    <p><?php echo $tname['tname'];?></p>
    <a href="/ajaxphp/ktv/index.php/sing/songsalready">已选歌曲</a>
</header>
<ul class="nav">
    <li><i class="active"></i><a href="">歌手</a></li>
    <li><i></i><a href="">排行</a></li>
    <li><i></i><a href="">常唱</a></li>
    <li><i></i><a href="">推荐歌单</a></li>
    <input type="text" placeholder="请输入您要搜索的歌手">
</ul>
<ul class="aside">
    <li class="active">A</li>
    <li>B</li>
    <li>C</li>
    <li>D</li>
    <li>E</li>
    <li>F</li>
    <li>G</li>
    <li>H</li>
    <li>I</li>
    <li>J</li>
    <li>K</li>
    <li>L</li>
    <li>M</li>
    <li>N</li>
    <li>O</li>
    <li>P</li>
    <li>Q</li>
    <li>R</li>
    <li>S</li>
    <li>T</li>
    <li>U</li>
    <li>V</li>
    <li>W</li>
    <li>X</li>
    <li>Y</li>
    <li>Z</li>
</ul>
<div class="list">
    <ul class="list-contant">
        <?php
            for($i=0;$i<count($data);$i++){
       ?>
        <li>
            <a href="/ajaxphp/ktv/index.php/sing/songslist?sid=<?php echo $data[$i]['sid'];?>">
                <img src="<?php echo $data[$i]['simg'];?>" alt="">
                <div><span><?php echo $data[$i]['sname'];?></span><span>(<?php echo $data[$i]['totalsongs'];?>)</span></div>
            </a>
        </li>
        <?php
            }
       ?>
    </ul>
</div>
</body>
</html>