<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>歌手</title>
    <script src="/ajaxphp/ktv/Public/js/rem.js"></script>
    <link rel="stylesheet" href="/ajaxphp/ktv/Public/css/singer.css">
</head>
<body>
<header>
    <a href="javascript:history.back();"></a>
    <p>歌手</p>
    <a></a>
</header>
<ul class="nav">
    <li>歌手</li>
    <li>排行</li>
    <li>常唱</li>
    <li>推荐歌单</li>
    <input type="text" placeholder="请输入您要搜索的歌手">
</ul>
<div class="list">
    <ul class="list-contant">
        <li style="background: url('/ajaxphp/ktv/Public/img/banner1.png') center / cover no-repeat">
            <a href="">
                <h2>内地偶像组合</h2>
            </a>
        </li>
        <li style="background: url('/ajaxphp/ktv/Public/img/nan1.png') center / cover no-repeat">
            <a href="">
                <h2>内地男歌手</h2>
            </a>
        </li>
        <li style="background: url('/ajaxphp/ktv/Public/img/nvzhong.png') center / cover no-repeat">
            <a href="">
                <h2>港台歌手</h2>
            </a>
        </li>
        <li style="background: url('/ajaxphp/ktv/Public/img/singer-04.png') center / cover no-repeat">
            <a href="">
                <h2>日韩女歌手</h2>
            </a>
        </li>
        <li style="background: url('/ajaxphp/ktv/Public/img/ndv.png') center / cover no-repeat">
            <a href="">
                <h2>内地女歌手</h2>
            </a>
        </li>
        <li style="background: url('/ajaxphp/ktv/Public/img/qcox.png') center / cover no-repeat">
            <a href="">
                <h2>青春偶像男歌手</h2>
            </a>
        </li>
    </ul>
</div>
</body>
</html>