<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>歌曲列表</title>
    <script src="/ajaxphp/ktv/Public/js/jquery.js"></script>
    <script src="/ajaxphp/ktv/Public/js/rem.js"></script>
    <script src="/ajaxphp/ktv/Public/js/iscroll.js"></script>
    <script src="/ajaxphp/ktv/Public/js/songslist.js"></script>
    <link rel="stylesheet" href="/ajaxphp/ktv/Public/css/songslist.css">
</head>
<body style="background: url('<?php echo $singer['simg'];?>') 50% -60% / contain no-repeat">
<header>
    <div class="top">
        <a href="javascript:history.back();"></a>
        <p><?php echo $singer['sname'];?></p>
        <a href="/ajaxphp/ktv/index.php/sing/songsalready">已选歌曲</a>
    </div>
    <div class="bottom">
        <div class="bleft">
            <img style="background: url('<?php echo $singer['simg'];?>') 0 0 / cover no-repeat ">
        </div>
        <div class="bright">
            <div class="rtop">
                <h2><?php echo $singer['sname'];?> - <?php echo $tname['tname'];?></h2>
                <span>
                    <i></i>
                    <b>歌曲</b>
                    <em><?php echo $singer['totalsongs'];?></em>
                </span>
                <span>
                    <i></i>
                    <b>MV</b>
                    <em><?php echo $singer['totalmvs'];?></em>
                </span>
            </div>
            <div class="rbottom">
                <span>本月点击量:</span>
                <span><?php echo $singer['hits'];?></span>
            </div>
        </div>
    </div>
</header>
<div class="main">
    <ul class="list">
        <?php
        for($i=0;$i<count($songs);$i++){
        ?>
        <li songdata='<?php echo json_encode($songs[$i]);?>' singername="<?php echo $singer['sname'];?>">
            <i><?php
                $num=$i+1;
                echo sprintf("%02d",$num)
              ;?>
            </i>
            <div>
                <b><?php echo $songs[$i]['gname'];?> - <?php echo $singer['sname'];?></b>
                <span><?php echo $songs[$i]['gtime'];?></span>
            </div>
            <em></em>
        </li>
        <?php
            }
        ?>
    </ul>
</div>

</body>
</html>