<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>歌曲列表</title>
    <script src="/ajaxphp/ktv/Public/js/jquery.js"></script>
    <script src="/ajaxphp/ktv/Public/js/rem.js"></script>
    <script src="/ajaxphp/ktv/Public/js/iscroll.js"></script>
    <script src="/ajaxphp/ktv/Public/js/songslist.js"></script>
    <link rel="stylesheet" href="/ajaxphp/ktv/Public/css/songslist.css">
</head>
<body style="background: url('/ajaxphp/ktv/Public/img/singer-01.png') 50% -60% / contain no-repeat">
<header>
    <div class="top">
        <a href="javascript:history.back();"></a>
        <p>莫文蔚</p>
        <a></a>
    </div>
    <div class="bottom">
        <div class="bleft">
            <img src="/ajaxphp/ktv/Public/img/singer-01.png" alt="">
        </div>
        <div class="bright">
            <div class="rtop">
                <h2>莫文蔚 - 华语女歌手</h2>
                <span>
                    <i></i>
                    <b>歌曲</b>
                    <em>92</em>
                </span>
                <span>
                    <i></i>
                    <b>MV</b>
                    <em>94</em>
                </span>
            </div>
            <div class="rbottom">
                <span>本月点击量:</span>
                <span>79824</span>
            </div>
        </div>
    </div>
</header>
<div class="main">
    <ul class="list">
        <li>
            <i>01</i>
            <div>
                <b>阴天—莫文蔚</b>
                <span>3''20'</span>
            </div>
            <em></em>
        </li>
        <li>
            <i>01</i>
            <div>
                <b>阴天—莫文蔚</b>
                <span>3''20'</span>
            </div>
            <em></em>
        </li>
        <li>
            <i>01</i>
            <div>
                <b>阴天—莫文蔚</b>
                <span>3''20'</span>
            </div>
            <em></em>
        </li>
        <li>
            <i>01</i>
            <div>
                <b>阴天—莫文蔚</b>
                <span>3''20'</span>
            </div>
            <em></em>
        </li>
        <li>
            <i>01</i>
            <div>
                <b>阴天—莫文蔚</b>
                <span>3''20'</span>
            </div>
            <em></em>
        </li>
        <li>
            <i>01</i>
            <div>
                <b>阴天—莫文蔚</b>
                <span>3''20'</span>
            </div>
            <em></em>
        </li>
        <li>
            <i>01</i>
            <div>
                <b>阴天—莫文蔚</b>
                <span>3''20'</span>
            </div>
            <em></em>
        </li>
        <li>
            <i>01</i>
            <div>
                <b>阴天—莫文蔚</b>
                <span>3''20'</span>
            </div>
            <em></em>
        </li>
        <li>
            <i>01</i>
            <div>
                <b>阴天—莫文蔚</b>
                <span>3''20'</span>
            </div>
            <em></em>
        </li>
        <li>
            <i>01</i>
            <div>
                <b>阴天—莫文蔚</b>
                <span>3''20'</span>
            </div>
            <em></em>
        </li>
        <li>
            <i>01</i>
            <div>
                <b>阴天—莫文蔚</b>
                <span>3''20'</span>
            </div>
            <em></em>
        </li>
        <li>
            <i>01</i>
            <div>
                <b>阴天—莫文蔚</b>
                <span>3''20'</span>
            </div>
            <em></em>
        </li>
        <li>
            <i>01</i>
            <div>
                <b>阴天—莫文蔚</b>
                <span>3''20'</span>
            </div>
            <em></em>
        </li>
        <li>
            <i>01</i>
            <div>
                <b>阴天—莫文蔚</b>
                <span>3''20'</span>
            </div>
            <em></em>
        </li>
        <li>
            <i>01</i>
            <div>
                <b>阴天—莫文蔚</b>
                <span>3''20'</span>
            </div>
            <em></em>
        </li>
    </ul>
</div>

</body>
</html>