<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../static/css/addArticle1.css">
    <title>添加文章1</title>
</head>
<body>
    <h2>添加内容</h2>
    <form action="addArticle1.php" method="post" enctype="multipart/form-data">
        <div class="formGroup">
            <label>本栏目ID</label>
            <input type="text" name="cid" readonly value="<?php echo $cid;?>">
            <label>栏目名称</label>
            <input type="text" readonly value="<?php echo $cname;?>">
            <label>所属栏目</label>
            <input type="text" readonly value="<?php echo $pname;?>">
        </div>
        <div class="formGroup">
            <label>页面标题</label>
            <input type="file" name="dtitle" value="">
        </div>
        <div class="formGroup">
            <label>页面背景</label>
            <input type="file" name="dbg" value="">
        </div>
        <div class="formGroup">
            <label>文章标题</label>
            <input type="text" name="atitle" value="" class="atitle">
        </div>
        <div class="formGroup textarea">
            <label>文章内容</label>
            <textarea name="acontent" rows="10" value=""></textarea>
        </div>
        <div class="formGroup">
            <label>文章配图</label>
            <input type="file" name="aimg" value="">
        </div>
        <div class="formGroup">
            <input type="submit" name="sub" class="sub" value="提交">
        </div>
    </form>
</body>
</html>