<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>登录</title>
    <link rel="stylesheet" href="../static/css/loginto.css">
</head>
<body>
    <div class="content">
        <form action="login.php" method="post">
            <h3>后台登录系统</h3>
            <div class="formGroup">
                <input type="text" name="user" placeholder="请输入用户名">
            </div>
            <div class="formGroup">
                <input type="password" name="pass" placeholder="请输入密码">
            </div>
            <div class="formGroup">
                <input type="submit" name="sub" value="提交">
            </div>
        </form>
    </div>
</body>
</html>