<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/ajaxphp/mengniu/static/css/showCategory.css">
    <title>查看文章1</title>
</head>
<body>
<div class="panel">
    <div class="panelHeader">
        文章内容
    </div>
    <div class="panelContent">
        <table>
            <tr>
                <th>序号</th>
                <th>所属栏目</th>
                <th>图片名</th>
                <th>品牌链接</th>
                <th>操作</th>
            </tr>
            <?php echo $str;?>
        </table>
    </div>
</div>
</body>
</html>