<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../static/css/main.css">
    <script src="../static/js/jquery.js"></script>
    <script src="../static/js/main.js"></script>
    <title>后台管理界面</title>
</head>
<body>
    <div class="header">
        <h1>后台管理系统</h1>
        <ul class="headBtns">
            <li><img class="headimg" src="" alt=""></li>
            <li class="denglu"><a href="">首页</a></li>
            <li class="tuichu"><a href="">退出</a></li>
        </ul>
    </div>
    <div class="leftnav">
        <h2>分类操作</h2>
        <ul>
            <li><a href="addCategory.php" target="right">添加分类</a></li>
            <li><a href="showCategory.php" target="right">查看</a></li>
        </ul>
        <h2>分类内容</h2>
        <ul>
            <li><a href="" target="right">添加文章</a></li>
            <li><a href="" target="right">查看文章</a></li>
        </ul>
    </div>
    <div class="content">
        <iframe src="" frameborder="0" name="right"></iframe>
    </div>
</body>
</html>