<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>蒙牛官网</title>
    <link rel="stylesheet" href="/ajaxphp/mengniu/static/css/base.css">
    <link rel="stylesheet" href="/ajaxphp/mengniu/static/css/header.css">
    <script src="/ajaxphp/mengniu/static/js/jquery-3.2.1.js"></script>
</head>
<body>

<!--导航开始-->
<div class="nav">
    <div class="nav_bg_logo"></div>
    <div class="nav_bg_list"></div>
    <div class="nav_logo">
        <a href="index.php" class="logo"></a>
    </div>
    <div class="nav_main_wrap">
        <ul class="nav_main">
            <li class="nav1 nav_home">
                <div class="nav_item_wrap">
                    <a href="index.php" class="nav_item">
                        <u class="u1">
                            <i></i>
                            <b>首页</b>
                        </u>
                    </a>
                </div>
            </li>
            <li class="nav1 nav_about">
                <div class="sub_nav_wrap">
                    <div class="sub_nav"></div>
                </div>
                <div class="nav_item_wrap">
                    <a href="about.php" class="nav_item">
                        <u class="u2">
                            <i></i>
                            <b>关于蒙牛</b>
                        </u>
                    </a>
                    <ul>
                        <li>
                            <a href="introduce.php" class="sub_nav_1">集团介绍</a>
                        </li>
                        <li>
                            <a href="introduce.php" class="sub_nav_2">核心价值</a>
                        </li>
                        <li>
                            <a href="introduce.php" class="sub_nav_3">企业荣誉</a>
                        </li>
                        <li>
                            <a href="contactus.php" class="sub_nav_4">联系我们</a>
                        </li>
                    </ul>
                </div>
            </li>
            <li class="nav1 nav_product">
                <div class="sub_nav_wrap">
                    <div class="sub_nav"></div>
                </div>
                <div class="nav_item_wrap">
                    <a href="product.php" class="nav_item">
                        <u class="u3">
                            <i></i>
                            <b>品牌与产品</b>
                        </u>
                    </a>
                    <ul>
                        <li>
                            <a href="productlist.php" class="sub_nav_1">品牌与产品</a>
                        </li>
                        <li>
                            <a href="introduce.php" class="sub_nav_2">购买产品</a>
                        </li>
                    </ul>
                </div>
            </li>
            <li class="nav1 nav_duty">
                <div class="sub_nav_wrap">
                    <div class="sub_nav"></div>
                </div>
                <div class="nav_item_wrap">
                    <a href="duty.php" class="nav_item">
                        <u class="u4">
                            <i></i>
                            <b>可持续发展</b>
                        </u>
                    </a>
                    <ul>
                        <li>
                            <a href="introduce.php" class="sub_nav_1">有你最美</a>
                        </li>
                        <li>
                            <a href="introduce.php" class="sub_nav_2">成长共赢</a>
                        </li>
                        <li>
                            <a href="introduce.php" class="sub_nav_3">绿色发展</a>
                        </li>
                        <li>
                            <a href="introduce.php" class="sub_nav_4">报告下载</a>
                        </li>
                    </ul>
                </div>
            </li>
            <li class="nav1 nav_news">
                <div class="sub_nav_wrap">
                    <div class="sub_nav"></div>
                </div>
                <div class="nav_item_wrap">
                    <a href="news.php" class="nav_item">
                        <u  class="u5">
                            <i></i>
                            <b>新闻与活动</b>
                        </u>
                    </a>
                    <ul>
                        <li>
                            <a href="introduce.php" class="sub_nav_1">热点新闻</a>
                        </li>
                        <li>
                            <a href="introduce.php" class="sub_nav_2">工厂参观</a>
                        </li>
                        <li>
                            <a href="introduce.php" class="sub_nav_3">招标公告</a>
                        </li>
                    </ul>
                </div>
            </li>
        </ul>
    </div>
</div>
<!--导航结束-->

