<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>蒙牛官网</title>
    <link rel="stylesheet" href="/ajaxphp/mengniu/static/css/base.css">
    <link rel="stylesheet" href="/ajaxphp/mengniu/static/css/header.css">
    <script src="/ajaxphp/mengniu/static/js/jquery-3.2.1.js"></script>
</head>
<body>

<!--导航开始-->
<div class="nav">
    <div class="nav_bg_logo"></div>
    <div class="nav_bg_list"></div>
    <div class="nav_logo">
        <a href="index.php" class="logo"></a>
    </div>
    <div class="nav_main_wrap">
        <ul class="nav_main">
            <?php
                for($i=0;$i<count($data);$i++){
                    if($data[$i]['cid']==1){
            ?>
            <li class="nav1">
                <div class="nav_item_wrap">
                    <a href="<?php echo $data[$i]['templet'];?>" class="nav_item">
                        <u class="u1">
                            <i></i>
                            <b><?php echo $data[$i]['cname'];?></b>
                        </u>
                    </a>
                </div>
            </li>
            <?php
                    }else{
            ?>
            <li class="nav1">
                <div class="sub_nav_wrap">
                    <div class="sub_nav"></div>
                </div>
                <div class="nav_item_wrap">
                    <a href="<?php echo $data[$i]['templet'];?>" class="nav_item">
                        <u>
                            <i></i>
                            <b><?php echo $data[$i]['cname'];?></b>
                        </u>
                    </a>
                    <ul>
                        <?php
                        $sql="select * from category where pid={$data[$i]['cid']}";
                        $result=$mysql->query($sql)->fetch_all(MYSQL_ASSOC);
                           for($j=0;$j<count($result);$j++){
                         ?>
                        <li>
                            <a href="<?php echo $result[$j]['templet'];?>"><?php echo $result[$j]['cname'];?></a>
                        </li>
                        <?php
                        }
                      ?>
                    </ul>
                </div>
            </li>
            <?php
                }
            }
            ?>
        </ul>
    </div>
</div>
<!--导航结束-->

